@inject IHttpContextAccessor HttpContextAccessor
<div class="same-style account-satting">
    <a class="account-satting-active" href="#"><i class="pe-7s-user-female"></i></a>
    <div class="account-dropdown">
        @if (string.IsNullOrEmpty(HttpContextAccessor?.HttpContext?.Session.GetString("UserId"))) 
        {
            <ul>
                <li><a asp-controller="User" asp-action="Login">Login</a></li>
                <li><a asp-controller="User" asp-action="Register">Register</a></li>
            </ul>
        }
        else{
            <ul>
                <li><a href="my-account.html">my account</a></li>
                <li><a href="wishlist.html">Wishlist  </a></li>
            </ul>
        }
    </div>
</div>