@model UserOTP
@{
    ViewData["Title"] = "OTP Verification";
}
<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">OTP Verification</li>
            </ul>
        </div>
    </div>
</div>
<div class="login-register-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <a class="active" data-toggle="tab">
                            <h4> OTP Verification </h4>
                        </a>
                    </div>
                    <div class="tab-content">
                        <div id="lg1" class="tab-pane active">
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    <form method="post">
                                        <div>
                                            <label asp-for="OTP"></label>
                                            <input asp-for="OTP" placeholder="OTP">
                                            <span asp-validation-for="OTP"></span>
                                        </div>
                                        <div class="button-box">
                                            <button type="submit"><span>Verify</span></button>
                                        </div>
                                        <a asp-action="ResendOTP" id="resendOTPLink">Resend OTP</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
       //write code to disable resend otp link, till otp is valid
    </script>
}
