/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/

/*Customer side css*/
.login-register-wrapper .login-form-container .login-register-form form input{
    margin-bottom:5px;
}
.login-register-wrapper .login-form-container .login-register-form form>div>span {
    color:red;
}
.login-register-wrapper .login-form-container .login-register-form form > div {
    margin-bottom: 20px;
}
.error{color:red;}