
@{
	ViewData["Title"] = "Product Management";
}
<div class="row">
	<div class="col-md-9 page-header">
	<h3 class="fw-bold mb-3">Product Management</h3>
		<ul class="breadcrumbs mb-3 d-flex align-items-center">
			<li class="nav-home">
				<a asp-controller="Home" asp-action="Index">
					<i class="icon-home"></i>
				</a>
			</li>
			<li class="separator">
				<i class="icon-arrow-right"></i>
			</li>
			<li class="nav-item">
				<a asp-controller="Product" asp-action="Index">Products</a>
			</li>
			<li class="separator">
				<i class="icon-arrow-right"></i>
			</li>
			<li class="nav-item">
				<a asp-controller="Product" asp-action="Index">Home</a>
			</li>
		</ul>
	</div>
	<div class="col-md-3 d-flex justify-content-end align-items-start">
		<a asp-controller="Product" asp-action="Create" class="btn btn-primary">
			Add Product
		</a>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Products</h4>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table id="productTbl" >
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script src="~/js/datatables/product.js"></script>
}